<div class="row">
    <div class="col-lg-offset-4 col-lg-3 col-md-3">
        <h1 class="text-center">{{ "FORM_USER_CREATE_TITLE" | translate }}</h1>
    </div>
</div>
<div class="row padding-top-20">
    <div class="col-lg-offset-3 col-lg-1 col-md-1">

    </div>
    <div class="col-lg-3 col-md-3 well bloc-white-transparent">
        <div class="padding-left-30 padding-right-30">
            <register-form-directive></register-form-directive>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="padding-left-15 padding-right-15">
            <div class="rsv-connect text-center" ng-controller="socialController">
                <span><b>Se connecter avec</b> <span ng-show="socialLoading"><img src="/images/loading/3.gif"></span></span>
                <hr class="margin-none padding-top-5 padding-bottom-5">
                <div class="row">
                    <span ng-click="authenticate('facebook')" class="facebook-connect item-connect pointer" uib-popover="Facebook" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-facebook-official fa-2x"></i></span>
                    <span ng-click="authenticate('twitter')" class="twitter-connect item-connect pointer" uib-popover="Twitter" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-twitter-square  fa-2x"></i></span>
                    <span ng-click="authenticate('google')" class="google-connect item-connect pointer"  uib-popover="Google+" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-google-plus-square  fa-2x"></i></span>
                    <span ng-click="authenticate('live')" class="windows-connect item-connect pointer" uib-popover="Windows live" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-windows  fa-2x"></i></span>
                    <span ng-click="authenticate('twitch')" class="twitch-connect item-connect pointer" style="color:#000;" uib-popover="Twitch" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-twitch fa-2x"></i></span>
                </div>
                <div class="row padding-top-5">
                    <span ng-click="authenticate('github')" class="item-connect pointer" style="color:#000;"  uib-popover="Git hub" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-github  fa-2x"></i></span>
                    <span ng-click="authenticate('bitbucket')" class="bitbucket-connect item-connect pointer" style="color:#000;" uib-popover="Bitbucket" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-bitbucket-square  fa-2x"></i></span>
                    <span ng-click="authenticate('linkedin')" class="linkedin-connect item-connect pointer" uib-popover="LinkedIn" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-linkedin-square  fa-2x"></i></span>
                    <span ng-click="authenticate('instagram')" class="instagram-connect item-connect pointer" style="color:#000;" uib-popover="Instagram" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-instagram  fa-2x"></i></span>
                    <span ng-click="authenticate('yahoo')" class="yahoo-connect item-connect pointer" style="color:#000;" uib-popover="Yahoo" popover-trigger="mouseenter" popover-placement="bottom"><i class="fa fa-yahoo fa-2x"></i></span>
                </div>
                </fieldset>
            </div>
        </div>

    </div>
    <!--
    <div class="col-lg-4 col-md-4">
        <h2>{{ "FORM_USER_CREATE_TITLE_RSV" | translate }}</h2>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Google +</li>
            <li>LinkedIn</li>
        </ul>
    </div>-->
</div>