.facebook-connect{
    color : #3765a3;
}

.linkedin-connect{
    color : #0274b3;
}

.google-connect{
    color :#de4c3f;
}

.windows-connect{
    color : #00adef;
}

.twitter-connect{
    color : #28a9e2;
}